.main__card{
    margin-top: 100px;
    margin-right: 30px;
    border: 2px solid black;
  
}

.block__img_mail{
    display: flex;
    flex-direction: row;
    
}
img{
    width: 100px;
    height: 100px;
    
}
.like__block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}